<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wvm023.dei.isep.ipp.pt/GameWS/GameWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGameWebService"
                contract="ServiceReference1.IGameWebService" name="BasicHttpBinding_IGameWebService" />
        </client>
    </system.serviceModel>
</configuration>