<?xml version="1.0"?>
<configuration>


  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=wvm023.dei.isep.ipp.pt\SQLEXPRESS;Initial Catalog='GameDataBase';Persist Security Info=True;User ID='wvm023';Password='wvm023'"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="defaultPassPhrase"  value="asVaZejsdkDEIFfdSsTddskmHdlEFJ"/>
    <add key="saltValue"  value="s@1dxfcgvhnkmlfhgjkiloç"/>
    <!--<add key="saltValue"  value="s@1tsdmyValfjksuekasfhd"/>-->
    <add key="hashAlgorithm"  value="SHA1"/>
    <add key="initVector"  value="@1B2c3D4e5F6g7H8"/>
    <add key="EncryptionKey" value="EncryptionKey2013"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <!--<httpRuntime executionTimeout="999" />-->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
