<?xml version="1.0"?>

<configuration>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=wvm023.dei.isep.ipp.pt\SQLEXPRESS;Initial Catalog='GameDataBase';Persist Security Info=True;User ID='wvm023';Password='wvm023'"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="Erro.aspx">
      <error statusCode="500" redirect="Erro.aspx?erro=3"/>
      <error statusCode="404" redirect="Erro.aspx?erro=2"/>
      <error statusCode="403" redirect="Erro.aspx?erro=1"/>
    </customErrors>
  </system.web>
  <appSettings>
    <add key="defaultPassPhrase"  value="asVaZejsdkDEIFfdSsTddskmHdlEFJ"/>
    <add key="saltValue"  value="s@1dxfcgvhnkmlfhgjkiloç"/>
    <!--<add key="saltValue"  value="s@1tsdmyValfjksuekasfhd"/>-->
    <add key="hashAlgorithm"  value="SHA1"/>
    <add key="initVector"  value="@1B2c3D4e5F6g7H8"/>
      
    <add key="EncryptionKey" value="EncryptionKey2013"/>


    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>
