<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
    <appSettings>
      <add key ="defaultPassPhrase" value="asVaZejsdkDEIFfdSsTddskmHdlEFJ"/>
      <add key ="saltValue" value="s@1tsdmyValfjksuekasfhd"/>
      <add key ="hashAlgorithm" value="SHA1"/>
      <add key ="initVector" value="@1B2c3D4e5F6g7H8"/>
      
      
      <add key="ConnectionString" value="Data Source=172.31.101.23\sqlexpress;Initial Catalog=GameDataBase;Persist Security Info=True;User ID=wvm023;Password=wvm023" />


      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
</configuration>
